@page
@model Carpooling.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>About Us</h2>
<p>Welcome to the Carpooling Platform, where shared journeys pave the way for a greener, more connected future. Our platform is designed to revolutionize the way people travel, making commuting more efficient, sustainable, and enjoyable.</p>
<h3>Our Mission</h3>
<p>At Carpooling Platform, our mission is clear: To reduce traffic congestion, lower carbon emissions, and enhance transportation convenience. We're committed to creating a community of like-minded individuals who share rides, save money, and contribute to a cleaner environment.</p>
<h3>How It Works</h3>
<p>Our platform brings together drivers and passengers who are headed in the same direction. By sharing rides, we optimize vehicle occupancy and minimize the number of cars on the road. Passengers can easily find available rides through our intuitive interface, and drivers can offer their empty seats to fellow travelers. </p>
<h3>Safety First</h3>
<p>We take safety seriously. All our users go through a verification process, and we encourage open communication between drivers and passengers before the journey begins. Users can rate and review each other, ensuring a trustworthy and secure carpooling experience.</p>


