@{
    ViewData["Title"] = "Menu";
}




<div class="user-menu">
    <ul>
        <li><a asp-controller="Personal" asp-action="MyTravels">My Travels</a></li>
        @*    @if (User.IsInRole("driver"))
        {*@
        <li><a asp-controller="Personal" asp-action="MyBookings">My Bookings</a></li>
        @* }*@
        @*   @if (User.IsInRole("driver"))
        {
        <li><a asp-controller="Personal" asp-action="">My requests</a></li>
        }*@

        @*    <li><a href="#">My Passengers</a></li>*@
        <li><a href="#">My Vehicles</a></li>
        <li><a href="#">My Received Ratings</a></li>
        <li><a href="#">My Given Ratings</a></li>
        <li><a asp-controller="Travels" asp-action="Create">Create Travel</a></li>
        <li><a asp-controller="Personal" asp-action="CreateCar">Create a Car</a></li>
    </ul>
</div>