@using Carpooling.Models
@model UserViewModel

<h2>Current User</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Username</dt>
        <dd>@Model.UserName</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
    </dl>
</div>