@using CarPooling.Data.Models;

@{
    ViewData["Title"] = "Menu";
}

<style>
.user-menu {
    background-color: #3498db;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-menu li {
    display: inline-block;
    margin-right: 15px;
}

.user-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

    .user-menu a:hover {
        color: #f39c12;
    }
</style>


<div class="user-menu">
    <ul>
        <li><a asp-controller="Personal" asp-action="MyTravels">My Travels</a></li>
        <li><a asp-controller="Personal" asp-action="MyBookings">My Bookings</a></li>
        @if (User.IsInRole("Driver") || User.IsInRole("Administrator"))
        {
            <li><a asp-controller="Personal" asp-action="MyRequests">My Requests</a></li>
        }
        @if (User.IsInRole("Driver") || User.IsInRole("Administrator"))
        {
            <li><a asp-controller="Personal" asp-action="MyPassengers">My Passengers</a></li>
        }
        <li><a asp-controller="Personal" asp-action="MyCars">My Vehicles</a></li>
        <li><a href="#">My Received Ratings</a></li>
        <li><a href="#">My Given Ratings</a></li>
        <li><a asp-controller="Travels" asp-action="Create">Create Travel</a></li>
        <li><a asp-controller="Personal" asp-action="CreateCar">Create a Car</a></li>
    </ul>
</div>