html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.rounded-image {
    border-radius: 50px;
    border: 5px solid green;
    background-color: white;
    padding: 5px;
}

.double-bordered-container {
    background-color: red;
    border-radius: 70px;
    border: 5px solid white;
    padding: 5px;
}

.center-content {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
   
}

/*Backround iamge*/
body {
    background-image: url('/images/carpooling-backround2.jpg'); /* Пътя към вашата снимка */
    background-size: cover; /* Снимката ще покрива целия фон */
    background-repeat: no-repeat;
    opacity: 99; /* Забранява повтарянето на снимката */
}

.content {
    background-color: rgba(255, 255, 255, 0.7);
     /* Непрозрачен бял цвят */
    padding: 20px; /* Задайте подходящи отстъпи според дизайна ви */
    transition: background-color 0.1s ease; /* Преход за промяна на цвета за 0.3 секунди */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Тънка сенка на текста*/ 


}

/*.content {
    background-color: rgba(255, 255, 255, 0.7);
    */ */ /* Непрозрачен бял цвят */
    /*padding: 20px;*/ /* Задайте подходящи отстъпи според дизайна ви */
    /*transition: background-color 0.1s ease;*/ /* Преход за промяна на цвета за 0.3 секунди */
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);  Тънка сенка на текста 


}





